.p-Home.Footer {
margin-left: ;
margin-right: ;
width: 100%;
background-color: #000000;
padding-bottom: ;
padding-top: 50px;
}
.p-Home.Flex158 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
}
.p-Home.Flex159 {
display: flex;
justify-content: center;
}
.p-Home.Flex160 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
margin-top: 60px;
}
.p-Home.Flex161 {
display: flex;
width: 100%;
justify-content: space-around;
align-items: baseline;
margin-right: 10px;
}
.p-Home.Flex163 {
display: flex;
}
.p-Home.Flex162 {
display: flex;
width: 100%;
align-items: baseline;
margin-left: 10px;
justify-content: space-around;
}
.p-Home.Flex167 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
margin-top: 60px;
}
.p-Home.Flex165 {
display: flex;
width: 100%;
align-items: baseline;
margin-left: 10px;
justify-content: space-around;
}
.p-Home.Flex166 {
display: flex;
width: 100%;
justify-content: space-around;
align-items: baseline;
margin-right: 10px;
}
.p-Home.Flex164 {
display: flex;
}
.p-Home.Flex171 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
margin-top: 60px;
}
.p-Home.Flex169 {
display: flex;
width: 100%;
align-items: baseline;
margin-left: 10px;
justify-content: space-around;
}
.p-Home.Flex170 {
display: flex;
width: 100%;
justify-content: space-around;
align-items: baseline;
margin-right: 10px;
}
.p-Home.Flex168 {
display: flex;
}
.p-Home.Flex183 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
margin-top: 60px;
}
.p-Home.Flex181 {
display: flex;
width: 100%;
align-items: baseline;
margin-left: 10px;
justify-content: space-around;
}
.p-Home.Flex182 {
display: flex;
width: 100%;
justify-content: space-around;
align-items: baseline;
margin-right: 10px;
}
.p-Home.Flex180 {
display: flex;
}
.p-Home.Flex184 {
display: flex;
margin-left: 90px;
margin-right: 90px;
margin-top: 250px;
flex-direction: column;
font-family: IBM Plex Sans;
}
.p-Home.Flex185 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
padding-top: 50px;
}
.p-Home.Flex186 {
display: flex;
width: 100%;
flex-direction: column;
}
.p-Home.Flex191 {
display: flex;
}
.p-Home.Flex187 {
display: flex;
width: 100%;
justify-content: space-around;
font-family: IBM Plex Sans;
font-size: 18px;
row-gap: ;
column-gap: 40px;
}
.p-Home.Flex188 {
display: flex;
flex-direction: column;
justify-content: space-between;
color: #ffffff;
}
.p-Home.Flex189 {
display: flex;
flex-direction: column;
color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex190 {
display: flex;
flex-direction: column;
color: #ffffff;
justify-content: space-between;
}
.p-Home.Flex192 {
display: flex;
margin-left: 90px;
margin-right: 90px;
height: 250px;
align-items: stretch;
}
.p-Home.Navbar {
margin-top: 50px;
}
.p-Home.Flex193 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: space-between;
}
.p-Home.Flex194 {
display: flex;
}
.p-Home.Flex195 {
display: flex;
}
.p-Home.Flex5 {
display: flex;
column-gap: 25px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
}
.p-Home.Flex8 {
display: flex;
column-gap: 10px;
}
.p-Home.Intro {
margin-top: 150px;
align-self: auto;
}
.p-Home.Flex196 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: space-between;
align-items: stretch;
}
.p-Home.Flex197 {
display: flex;
flex-direction: column;
}
.p-Home.Flex353 {
display: flex;
justify-content: flex-start;
font-family: IBM Plex Sans;
align-items: center;
}
.p-Home.Flex354 {
display: flex;
}
.p-Home.Flex356 {
display: flex;
align-items: center;
}
.p-Home.Flex198 {
display: flex;
}
.p-Home.TrustTestimonals {
margin-top: 120px;
margin-bottom: 120px;
}
.p-Home.Flex199 {
display: flex;
margin-left: 90px;
margin-right: 90px;
flex-direction: column;
}
.p-Home.Flex202 {
display: flex;
justify-content: center;
margin-bottom: 40px;
}
.p-Home.Flex203 {
display: flex;
justify-content: center;
}
.p-Home.Services {
;
}
.p-Home.Flex216 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: center;
flex-direction: column;
}
.p-Home.Flex217 {
display: flex;
justify-content: center;
}
.p-Home.Flex218 {
display: flex;
flex-direction: column;
color: #000000;
}
.p-Home.Flex239 {
display: flex;
margin-top: 100px;
margin-bottom: 100px;
align-items: baseline;
}
.p-Home.Flex236 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
color: #000000;
}
.p-Home.Flex233 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: ;
}
.p-Home.Div57 {
display: list-item;
margin-left: 20px;
width: 70%;
margin-top: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
}
.p-Home.Div58 {
display: list-item;
}
.p-Home.Div59 {
display: list-item;
}
.p-Home.Flex237 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.p-Home.Div19 {
;
}
.p-Home.Div62 {
display: list-item;
margin-left: 20px;
width: 70%;
margin-top: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
}
.p-Home.Div60 {
display: list-item;
}
.p-Home.Div61 {
display: list-item;
}
.p-Home.Flex238 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.p-Home.Div65 {
display: list-item;
margin-left: 20px;
width: 70%;
margin-top: 30px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 16px;
}
.p-Home.Div63 {
display: list-item;
}
.p-Home.Div64 {
display: list-item;
}
.p-Home.Flex358 {
display: flex;
justify-content: center;
}
.p-Home.Projects {
margin-bottom: 200px;
margin-top: 150px;
}
.p-Home.Flex240 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: space-around;
}
.p-Home.Flex241 {
display: flex;
flex-direction: column;
}
.p-Home.Flex242 {
display: flex;
align-items: center;
}
.p-Home.Blogs {
background-color: #000000;
padding-top: 100px;
padding-bottom: 100px;
position: static;
}
.p-Home.Flex243 {
display: flex;
margin-left: 90px;
margin-right: 90px;
justify-content: space-around;
}
.p-Home.Flex244 {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.p-Home.Flex245 {
display: flex;
flex-direction: column;
position: static;
}
.p-Home.Flex249 {
display: flex;
flex-direction: column;
margin-bottom: 40px;
}
.p-Home.Flex250 {
display: flex;
flex-direction: column;
margin-bottom: 40px;
}
.p-Home.Flex251 {
display: flex;
flex-direction: column;
margin-bottom: 40px;
}
.p-Home.Flex252 {
display: flex;
flex-direction: column;
}
.p-Home.Achievement {
margin-top: 200px;
margin-bottom: 200px;
}
.p-Home.Flex359 {
display: flex;
justify-content: center;
margin-left: 90px;
margin-right: 90px;
}
.p-Home.Flex360 {
display: flex;
flex-direction: column;
}
.p-Home.Flex361 {
display: flex;
}
.p-Home.Gallery {
;
}
.p-Home.Flex253 {
display: flex;
margin-left: 90px;
margin-right: 90px;
}
.p-Home.Flex254 {
display: flex;
width: 30%;
column-gap: ;
row-gap: ;
}
.p-Home.Flex255 {
display: flex;
width: 40%;
}
.p-Home.Flex256 {
display: flex;
width: 30%;
flex-direction: column;
justify-content: center;
}
.p-Home.Flex257 {
display: flex;
width: 100%;
height: 100%;
}
.p-Home.Flex258 {
display: flex;
width: 100%;
height: 100%;
}
.p-Home.Work_Experience {
margin-top: 200px;
margin-bottom: 200px;
}
.p-Home.Flex260 {
display: flex;
margin-left: 90px;
margin-right: 90px;
flex-direction: column;
}
.p-Home.Flex264 {
display: flex;
justify-content: center;
}
.p-Home.Flex262 {
display: flex;
width: 100%;
align-items: flex-end;
}
.p-Home.Flex263 {
display: flex;
width: 100%;
align-items: flex-end;
justify-content: flex-start;
flex-direction: row;
}
.p-Home.Flex284 {
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}
.p-Home.Flex282 {
display: flex;
width: 100%;
}
.p-Home.Flex279 {
display: flex;
width: 100%;
flex-direction: column;
}
.p-Home.Flex274 {
display: flex;
flex-direction: column;
padding-right: ;
margin-right: 10px;
}
.p-Home.Flex272 {
display: flex;
justify-content: center;
}
.p-Home.Flex268 {
display: flex;
width: 100%;
}
.p-Home.Flex269 {
display: flex;
width: ;
justify-content: flex-end;
}
.p-Home.Flex273 {
display: flex;
justify-content: center;
margin-top: 15px;
}
.p-Home.Flex270 {
display: flex;
width: 100%;
}
.p-Home.Flex271 {
display: flex;
width: 100%;
justify-content: center;
padding-left: ;
}
.p-Home.Flex283 {
display: flex;
justify-content: flex-start;
width: 100%;
flex-direction: column;
margin-left: 10px;
}
.p-Home.Flex280 {
display: flex;
justify-content: center;
}
.p-Home.Flex275 {
display: flex;
width: 100%;
}
.p-Home.Flex276 {
display: flex;
width: ;
justify-content: flex-end;
}
.p-Home.Flex281 {
display: flex;
justify-content: center;
margin-top: 15px;
}
.p-Home.Flex277 {
display: flex;
width: 100%;
}
.p-Home.Flex278 {
display: flex;
width: 100%;
justify-content: center;
}
.p-Home.Flex301 {
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}
.p-Home.Flex299 {
display: flex;
width: 100%;
}
.p-Home.Flex296 {
display: flex;
width: 100%;
flex-direction: column;
}
.p-Home.Flex291 {
display: flex;
flex-direction: column;
padding-right: ;
margin-right: 10px;
}
.p-Home.Flex289 {
display: flex;
justify-content: center;
}
.p-Home.Flex285 {
display: flex;
width: 100%;
}
.p-Home.Flex286 {
display: flex;
width: ;
justify-content: flex-end;
}
.p-Home.Flex290 {
display: flex;
justify-content: center;
margin-top: 15px;
}
.p-Home.Flex287 {
display: flex;
width: 100%;
}
.p-Home.Flex288 {
display: flex;
width: 100%;
justify-content: center;
padding-left: ;
}
.p-Home.Flex300 {
display: flex;
justify-content: flex-start;
width: 100%;
flex-direction: column;
margin-left: 10px;
}
.p-Home.Flex297 {
display: flex;
justify-content: center;
}
.p-Home.Flex292 {
display: flex;
width: 100%;
}
.p-Home.Flex293 {
display: flex;
width: ;
justify-content: flex-end;
}
.p-Home.Flex298 {
display: flex;
justify-content: center;
margin-top: 15px;
}
.p-Home.Flex294 {
display: flex;
width: 100%;
}
.p-Home.Flex295 {
display: flex;
width: 100%;
justify-content: center;
}
.p-Home.Flex318 {
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}
.p-Home.Flex316 {
display: flex;
width: 100%;
}
.p-Home.Flex313 {
display: flex;
width: 100%;
flex-direction: column;
}
.p-Home.Flex308 {
display: flex;
flex-direction: column;
padding-right: ;
margin-right: 10px;
}
.p-Home.Flex306 {
display: flex;
justify-content: center;
}
.p-Home.Flex302 {
display: flex;
width: 100%;
}
.p-Home.Flex303 {
display: flex;
width: ;
justify-content: flex-end;
}
.p-Home.Flex307 {
display: flex;
justify-content: center;
margin-top: 15px;
}
.p-Home.Flex304 {
display: flex;
width: 100%;
}
.p-Home.Flex305 {
display: flex;
width: 100%;
justify-content: center;
padding-left: ;
}
.p-Home.Flex317 {
display: flex;
justify-content: flex-start;
width: 100%;
flex-direction: column;
margin-left: 10px;
}
.p-Home.Flex314 {
display: flex;
justify-content: center;
}
.p-Home.Flex309 {
display: flex;
width: 100%;
}
.p-Home.Flex310 {
display: flex;
width: ;
justify-content: flex-end;
}
.p-Home.Flex315 {
display: flex;
justify-content: center;
margin-top: 15px;
}
.p-Home.Flex311 {
display: flex;
width: 100%;
}
.p-Home.Flex312 {
display: flex;
width: 100%;
justify-content: center;
}
.p-Home.TextBox119 {
color: #4d9284;
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
}
.p-Home.TextBox120 {
font-family: IBM Plex Sans;
font-weight: 600;
color: #ffffff;
font-size: 54px;
margin-top: 15px;
}
.p-Home.Image43 {
width: 20px;
height: 20px;
}
.p-Home.TextBox121 {
width: 100%;
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.TextBox122 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.Image44 {
width: 20px;
height: 20px;
}
.p-Home.Image45 {
width: 20px;
height: 20px;
}
.p-Home.TextBox124 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.Image46 {
width: 20px;
height: 20px;
}
.p-Home.TextBox123 {
width: 100%;
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.Image47 {
width: 20px;
height: 20px;
}
.p-Home.TextBox126 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.Image48 {
width: 20px;
height: 20px;
}
.p-Home.TextBox125 {
width: 100%;
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.Image53 {
width: 20px;
height: 20px;
}
.p-Home.TextBox132 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.Image54 {
width: 20px;
height: 20px;
}
.p-Home.TextBox131 {
width: 100%;
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 24px;
}
.p-Home.TextBox133 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-Home.TextBox134 {
color: #4d9284;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-Home.Image55 {
width: 200px;
margin-bottom: 15px;
}
.p-Home.TextBox144 {
font-family: IBM Plex Sans;
color: #ffffff;
font-weight: 300;
font-size: 16px;
margin-bottom: 15px;
}
.p-Home.TextBox146 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 17px;
}
.p-Home.Image56 {
;
}
.p-Home.TextBox196 {
;
}
.p-Home.TextBox197 {
;
}
.p-Home.TextBox198 {
;
}
.p-Home.TextBox199 {
;
}
.p-Home.TextBox200 {
;
}
.p-Home.TextBox201 {
;
}
.p-Home.TextBox202 {
;
}
.p-Home.TextBox203 {
;
}
.p-Home.TextBox204 {
;
}
.p-Home.TextBox150 {
font-family: IBM Plex Sans;
color: #65958c;
align-self: flex-end;
padding-bottom: 20px;
}
.p-Home.Image2 {
;
}
.p-Home.TextBox12 {
;
}
.p-Home.TextBox13 {
;
}
.p-Home.TextBox14 {
;
}
.p-Home.TextBox15 {
;
}
.p-Home.TextBox11 {
;
}
.p-Home.Image1 {
width: 10px;
padding-bottom: 5px;
}
.p-Home.TextBox25 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 75px;
color: #4d9284;
line-height: 70px;
margin-bottom: ;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 75px;
line-height: 70px;
margin-bottom: 30px;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 22px;
margin-bottom: 30px;
}
.p-Home.Button6 {
color: #fff;
background-color: #000000;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #000000;
cursor: pointer;
user-select: none;
outline-color: #000000;
font-family: IBM Plex Sans;
box-sizing: border-box;
}
.p-Home.Button7 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
}
.p-Home.Image71 {
width: 20px;
height: 25px;
}
.p-Home.Image3 {
width: 100%;
height: 100%;
align-self: stretch;
}
.p-Home.TextBox29 {
font-family: IBM Plex Sans;
font-weight: 400;
font-size: 18px;
}
.p-Home.Image8 {
width: 120px;
height: 30px;
}
.p-Home.Image9 {
width: 120px;
height: 30px;
margin-left: ;
}
.p-Home.Image10 {
width: 120px;
height: 30px;
margin-left: ;
margin-right: 80px;
}
.p-Home.Image11 {
width: 120px;
height: 30px;
margin-left: 80px;
margin-right: 80px;
}
.p-Home.TextBox30 {
align-self: auto;
text-align: center;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 25px;
word-wrap: normal;
line-height: ;
outline-width: ;
outline-offset: ;
color: #4d9284;
}
.p-Home.Image12 {
width: 70px;
margin-bottom: 40px;
}
.p-Home.TextBox32 {
width: 70%;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 300;
}
.p-Home.TextBox35 {
font-family: IBM Plex Sans;
font-weight: 700;
margin-bottom: 15px;
font-size: 24px;
}
.p-Home.TextBox151 {
margin-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 18px;
}
.p-Home.TextBox155 {
font-size: 18px;
}
.p-Home.TextBox154 {
margin-bottom: 10px;
font-size: 18px;
}
.p-Home.Image13 {
width: 70px;
margin-bottom: 40px;
align-self: flex-start;
}
.p-Home.TextBox33 {
width: 70%;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 300;
}
.p-Home.TextBox36 {
font-family: IBM Plex Sans;
font-weight: 700;
margin-bottom: 15px;
font-size: 24px;
margin-left: ;
margin-right: ;
color: #000000;
}
.p-Home.TextBox158 {
margin-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox156 {
margin-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox157 {
font-size: 18px;
}
.p-Home.Image14 {
width: 70px;
margin-bottom: 40px;
}
.p-Home.TextBox34 {
width: 70%;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 300;
}
.p-Home.TextBox37 {
font-family: IBM Plex Sans;
font-weight: 700;
margin-bottom: 15px;
font-size: 24px;
}
.p-Home.TextBox161 {
margin-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox159 {
margin-bottom: 10px;
font-size: 18px;
}
.p-Home.TextBox160 {
font-size: 18px;
}
.p-Home.TextBox31 {
text-align: center;
margin-bottom: 70px;
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
width: 80%;
margin-left: ;
margin-right: ;
}
.p-Home.TextBox42 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
color: #4d9284;
}
.p-Home.TextBox43 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
width: 60%;
margin-top: 10px;
}
.p-Home.Button4 {
color: #fff;
background-color: #090909;
padding-top: 8px;
padding-left: ;
padding-bottom: 8px;
padding-right: ;
font-size: 20px;
border-radius: ;
outline: none;
font-weight: 600;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: auto;
user-select: none;
box-sizing: content-box;
font-family: IBM Plex Sans;
height: 30px;
width: 200px;
}
.p-Home.TextBox50 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 600;
}
.p-Home.TextBox49 {
color: #4d9284;
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 600;
}
.p-Home.TextBox207 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 18px;
}
.p-Home.TextBox73 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
padding-top: 5px;
padding-bottom: 15px;
}
.p-Home.TextBox75 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 14px;
}
.p-Home.TextBox209 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 18px;
}
.p-Home.TextBox52 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 14px;
}
.p-Home.TextBox53 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
margin-top: ;
margin-bottom: ;
padding-bottom: 15px;
padding-top: 5px;
}
.p-Home.TextBox208 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 18px;
}
.p-Home.TextBox76 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
padding-top: 5px;
padding-bottom: 15px;
}
.p-Home.TextBox78 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 14px;
}
.p-Home.TextBox210 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 18px;
}
.p-Home.TextBox79 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
padding-top: 5px;
padding-bottom: 15px;
}
.p-Home.TextBox81 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 14px;
}
.p-Home.TextBox211 {
font-family: IBM Plex Sans;
color: #ffffff;
font-size: 18px;
}
.p-Home.TextBox82 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
width: 400px;
}
.p-Home.TextBox83 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 25px;
color: #4d9284;
}
.p-Home.TextBox84 {
width: ;
align-self: auto;
font-family: IBM Plex Sans;
font-weight: 300;
font-size: 22px;
}
.p-Home.Image23 {
width: 100%;
height: 100%;
border-style: solid;
border-color: #ffffff;
border-right-width: ;
border-radius: ;
border-width: 10px;
box-sizing: border-box;
}
.p-Home.Image24 {
width: 100%;
height: 100%;
box-sizing: border-box;
border-width: ;
border-style: none;
border-color: #ffffff;
border-top-width: 10px;
border-top-style: solid;
border-bottom-width: 10px;
border-bottom-style: solid;
}
.p-Home.Image27 {
width: 100%;
height: 100%;
border-style: solid;
border-width: ;
box-sizing: border-box;
border-color: #ffffff;
border-left-width: 10px;
border-top-width: 10px;
border-bottom-width: 5px;
}
.p-Home.Image28 {
width: 100%;
height: 100%;
box-sizing: border-box;
border-style: solid;
border-width: ;
border-color: #ffffff;
border-bottom-width: 10px;
border-top-width: 5px;
border-left-width: 10px;
}
.p-Home.Image57 {
width: 40px;
height: 40px;
padding-right: 10px;
}
.p-Home.TextBox162 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 36px;
}
.p-Home.Image58 {
width: 40px;
height: 40px;
padding-right: 10px;
}
.p-Home.TextBox163 {
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 36px;
}
.p-Home.TextBox166 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
}
.p-Home.Image61 {
width: 20px;
height: 20px;
}
.p-Home.TextBox167 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox168 {
font-family: IBM Plex Sans;
font-size: 16px;
padding-left: 20px;
margin-left: ;
}
.p-Home.TextBox169 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
}
.p-Home.Image62 {
width: 20px;
height: 20px;
}
.p-Home.TextBox170 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox171 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox172 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
}
.p-Home.Image63 {
width: 20px;
height: 20px;
}
.p-Home.TextBox173 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox174 {
font-family: IBM Plex Sans;
font-size: 16px;
padding-left: 20px;
margin-left: ;
}
.p-Home.TextBox175 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
}
.p-Home.Image64 {
width: 20px;
height: 20px;
}
.p-Home.TextBox176 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox177 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox178 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
}
.p-Home.Image65 {
width: 20px;
height: 20px;
}
.p-Home.TextBox179 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox180 {
font-family: IBM Plex Sans;
font-size: 16px;
padding-left: 20px;
margin-left: ;
}
.p-Home.TextBox181 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 600;
}
.p-Home.Image66 {
width: 20px;
height: 20px;
}
.p-Home.TextBox182 {
font-family: IBM Plex Sans;
font-size: 16px;
}
.p-Home.TextBox183 {
font-family: IBM Plex Sans;
font-size: 16px;
}
